/* MovieList.css */
.movie-posters-container {
    display: flex;
    overflow: hidden; 
    gap: 20px;
    height: 200px; 
    padding-left: 50px;
  }
  
  .movie-posters-container img {
    width: 150px; /* Set the width of each poster */
    margin-right: 10px; /* Add some spacing between posters */
  }
  
  .scroll-buttons {
    margin-top: 10px;
    position: absolute;
    right: 15px;
   
  }
  
  .scroll-buttons button {
    margin-right: 10px;
  }
  